{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
      <link type="text/css" href="{% static 'style.css' %}" rel="stylesheet" />
</head>
<body>
{% for dish in results %}
    {% ifchanged dish.category_id %}<h2>{{ dish.category_id }}</h2>{% endifchanged %}

Название {{ dish.title }}
        <img src="{{dish.image.url}}" alt="" width="200px">
Цена {{dish.price}}
{% if dish.ingredients %}
{{dish.ingredients}}
{% endif %}


{% endfor %}
<a href='/'>Проверка подключения стилей</a>
</body>
</html>